<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= locals.title || '' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://cdn.plitzi.com/resources/img/favicon.svg" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://cdn.plitzi.com" />

    <link rel="modulepreload" href="<%= locals.react || '' %>" crossorigin />
    <link rel="modulepreload" href="<%= locals.reactDom || '' %>" crossorigin />

    <script type="importmap">
      {
        "imports": {
          "react": "<%= locals.react || '' %>",
          "react-dom": "<%= locals.reactDom || '' %>",
          "react-dom/client": "<%= locals.reactDomClient || '' %>",
          "react/jsx-runtime": "<%= locals.reactJsx || '' %>",
          "react/compiler-runtime": "<%= locals.reactCompilerRuntime || locals.react || '' %>",
          "@plitzi/plitzi-sdk": "<%= locals.jsPath || '' %>"
        }
      }
    </script>

    <link
      rel="preload"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      as="style"
      onload="this.onload=null;this.rel='stylesheet';"
    />
    <noscript>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </noscript>

    <link href="<%= locals.cssPath || '' %>" rel="preload" as="style" />
    <link href="<%= locals.cssPath || '' %>" rel="stylesheet" />
    <% if (locals.builderCssPath) { %>
    <link href="<%= locals.builderCssPath %>" rel="preload" as="style" />
    <link href="<%= locals.builderCssPath %>" rel="stylesheet" />
    <% } %>
    <% if (locals.plugins && locals.plugins.length > 0) { %>
    <% for (const plugin of locals.plugins) { if (plugin.css) { %>
    <link href="<%= plugin.css %>" rel="preload" as="style" />
    <link href="<%= plugin.css %>" rel="stylesheet" />
    <% } } %>
    <% } %>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="plitzi" class="plitzi-root-container"><%- locals.html || '' %></div>
    <% if (!locals.ssrOnly) { %>
    <script type="module">
      import { render } from '<%= locals.jsPath || '' %>';
      <% const activePlugins = (locals.plugins || []).filter(p => p.js); %>
      <% if (activePlugins.length > 0) { %>
      <% for (const plugin of activePlugins) { %>
      import { default as <%= plugin.varName %> } from '<%= plugin.js %>';
      <% } %>
      const __plitziPlugins = { <%- activePlugins.map(p => `'${p.keyName}': {component: ${p.varName}, props: ${JSON.stringify(p.props)}}`).join(', ') %> };
      render('plitzi', <%- locals.offlineData || '{}' %>, __plitziPlugins, <%= locals.debugMode ? true : false %>, true);
      <% } else { %>
      render('plitzi', <%- locals.offlineData || '{}' %>, {}, <%= locals.debugMode ? true : false %>, true);
      <% } %>
    </script>
    <% } %>
  </body>
</html>
